@keyframes moveFromRight {
    0% {
        transform: translateX(-10rem);
        opacity: 0;
    }
    
    80% {
        transform: translateX(1rem);
    }

    100% {
        transform: translate(0);
        opacity: 1;
    }
}

@keyframes moveFromLeft {
    0% {
        transform: translateX(20rem);
        opacity: 0;
    }
    
    80% {
        transform: translateX(-1rem);
    }

    100% {
        transform: translate(0);
        opacity: 1;
    }
}