.header {
    background-color: crimson;
    grid-area: h;

    &-text {
        text-align: center;
        backface-visibility: hidden;
        text-transform: uppercase;
    }

    &-text-main {
        display: block;
        letter-spacing: 2rem;
        font-size: 5rem;
        text-shadow: 0 .5rem .5rem blue, 0 -.2rem .5rem blue;
        margin-bottom: 1.5rem;
        animation: moveFromRight 1s;
    }

    &-text-sub {
        display: block;
        letter-spacing: 1rem;
        font-size: 2.5rem;
        text-shadow: 0 .5rem .5rem lime, 0 -.2rem .5rem lime;
        animation: moveFromLeft 1s;
    }
}